<% set_meta_tags title: 'お問い合わせ', description: 'Inssta Clone Appに関するお問い合わせのページです。' %>
<% provide(:title, 'Contact') %>

<h1>Contact</h1>
<p>
  Contact the Insta Clone app at the
  <a href="#">contact page</a>.
</p>