<div class="center jumbotron">
  <h1>
    Welcome to the <br> Insta Clone App
  </h1>

  <h2>
    This home page is the photos upload application.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>