<% set_meta_tags title: 'コメント', description: 'Inssta Clone App内の投稿に対してコメントすることができます。' %>
<% provide(:title, "Comments") %>

<h1>コメント</h1>
<% @comments = @imagepost.comments %>
<%= render 'users/comment', {imagepost: @imagepost, comment: @comment} %>